<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <h2>Submit your dataset</h2>    
        <form class="formulaire" action="/" method="post" enctype="multipart/form-data">
            <input class="in" type="text" name="name"/>
            <br/>
            <input class="in" type="file" name="file"/>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>
